body {
    margin: 0;
    background: linear-gradient(180deg,#0f172a,#1e293b);
    color: white;
    font-family: Arial;
    text-align: center;
}

canvas {
    display: none;
    background: #222;
    border: 3px solid white;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #3b82f6;
    color: white;
}

button:hover {
    background: #2563eb;
}

#ui {
    display: none;
}